.subtitle
  You Have 
  .big
    #{current_user.friends_count}
  = I18n.t('friend_count', count: current_user.friends_count)
.center.share-btn
  = link_to "Recruit Your Friends", "javascript: void(0);", class: "btn btn-primary share-btn btn-bold", id: "facebook-share-link", "data-url" => 'https://areyouwithher.herokuapp.com'
  = link_to "Find Friends in Swing States", states_path, class: "btn btn-primary share-btn btn-bold"
  = link_to "Find Friends Who Like Hillary", "https://www.facebook.com/search/889307941125736/likers/me/friends/intersect", class: "btn btn-primary share-btn btn-bold", target: "_blank"
%table.table.table-hover
  %thead
    %th.center
      Friend
    %th.center
      State
    %th.center
      Swing State?
    %th.center
      Registered?
    %th.center
      Voted?
  - if @friends.any?
    %tbody
      - @friends.each do |friend|
        %tr
          %td.center
            = friend.name
          %td.center
            = friend.state
          %td.center
            = yes_no(friend.swing)
          %td.center
            = yes_no(friend.registered)
          %td.center
            Not Yet!
- if !@friends.any?
  .text.center
    You don't have any friends who are with her. Share this on Facebook to recruit them and #TrumpHate!
