.section-header
  .section-title
    Hillary Events

.text
  .col-xs-12.col-sm-6.center.filter
    Filter by state:
    .btn-group
      %button.btn.dropdown-toggle{type: "button", class: "btn btn-grey", "data-toggle" => "dropdown", "aria-expanded" => false}
        Select state:
        %span.caret
      %ul.dropdown-menu{role: "menu"}
        .dropdown-header
          Swing States
        - for state in @swing_states
          %li{class: ('active' if params[:state] == state.abbreviation)}= link_to state.name.titleize, events_path(filter_parameters(state: state.abbreviation, event_type: params[:event_type]))
        .dropdown-header
          All States
        - for state in @states
          %li{class: ('active' if params[:state] == state.abbreviation)}= link_to state.name.titleize, events_path(filter_parameters(state: state.abbreviation, event_type: params[:event_type]))
  .col-xs-12.col-sm-6.center.filter
    Filter by Event Type:
    .btn-group
      %button.btn.dropdown-toggle{type: "button", class: "btn btn-grey", "data-toggle" => "dropdown", "aria-expanded" => false}
        Select Event Type:
        %span.caret
      %ul.dropdown-menu{role: "menu"}
        - for event_type in @event_types
          %li{class: ('active' if params[:event_type] == event_type.id)}= link_to event_type.name.titleize, events_path(filter_parameters(state: params[:state], event_type: event_type.id))

%table.table.table-hover
  %thead
    %th
      Name
    %th.center
      City
    %th.center
      State
    %th.center
      Start
    %th.center
      End
  %tbody
    - @events.each do |event|
      %tr
        %td
          = link_to event.name, event_path(event)
        %td.center
          = link_to event.city, event_path(event)
        %td.center
          = link_to event.state, event_path(event)
        %td.center
          - if event.start_date
            = link_to datetime_format(event.start_date), event_path(event)
        %td.center
          - if event.end_date
            = link_to datetime_format(event.end_date), event_path(event)
.paginate
  = will_paginate @events