= bootstrap_form_for @car, url: cars_path, html: {class: "form"} do |f|
  = render 'shared/form_errors', object: @car
  - if @event
    = f.hidden_field :event_id, value: params[:id]

  %h2
    Leaving From:
  .form-group
    = f.text_field :address, class: "form-control", required: true
  .form-group
    = f.text_field :city, class: "form-control", required: true
  .form-group
    = f.select :state, (@states.map {|s| [s.name, s.abbreviation]}), {prompt: "Select a state"}, class: "form-control", 'data-original' => current_user.state.to_s, required: true
  .form-group
    = f.text_field :zip_code, class: "form-control", required: true
  .form-group
    = f.number_field :num_of_seats, class: "form-control", required: true
  .form-group
    = f.datetime_field :leave, label: "Estimated departure time"
  .form-group
    = f.datetime_field :return, label: "Estimated arrival time"

  - if @event.nil?
    %h2
      Going To:
    .form-group
      = f.text_field :destination_address, class: "form-control"
    .form-group
      = f.text_field :destination_city, class: "form-control", required: true
    .form-group
      = f.select :destination_state, (@states.map {|s| [s.name, s.abbreviation]}), {prompt: "Select a state"}, class: "form-control", 'data-original' => current_user.state.to_s, required: true
    .form-group
      = f.text_field :destination_zip_code, class: "form-control", required: true

  = f.submit "Submit", class: "btn btn-primary form-submit-button"
