= form_for @car, url: cars_path, html: {class: "form"} do |f|
  = render 'shared/form_errors', object: @car
  = f.hidden_field :event_id, value: params[:id]

  Leaving From:
  .form-group
    = f.label :address
    = f.text_field :address, class: "form-control", required: true
  .form-group
    = f.label :city
    = f.text_field :city, class: "form-control", required: true
  .form-group
    = f.label :state
    = f.select :state, (@states.map {|s| [s.name, s.abbreviation]}), {prompt: "Select a state"}, class: "form-control", 'data-original' => current_user.state.to_s, required: true
  .form-group
    = f.label :zip_code
    = f.text_field :zip_code, class: "form-control", required: true
  .form-group
    = f.label :num_of_seats
    = f.number_field :num_of_seats, class: "form-control", required: true
  .form-group
    = f.label :leave
    = f.datetime_local_field :leave, class: "form-control", required: true
  .form-group
    = f.label :return
    = f.datetime_local_field :return, class: "form-control", required: true

  = f.submit "Submit", class: "btn btn-primary form-submit-button"
